
body {
  margin: 0px;
  display: flex;
  background: black;
}

p {
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#slider {
  width: 100%;
}

#levels {
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  /* padding: 5px; */
  background: black;
  color: white;
}


